le>
    footer {
        position: fixed;
        height: 300px;
        width: 100%;
        background-color: #888877;
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #black;
        line-height: 40px;
        font-size: 0.8em;
        text-align: center;
        bottom:0;
    }
	
	p.disclaimer {
        position: absolute;
        width: 100%;
        color: #black;
        line-height: 40px;
        font-size: 0.8em;
        text-align: center;
        bottom:15;
    }
	
</style>


<footer>
    <p class="copyright">© Team3 @ Social Media Company Inc <a href="about.html"> About</a> </p>
	<p class="disclaimer">We dont take responsible for our user acations or views 
	           more info kan be found here : <a href="disclaimer.html">Disclaimer info</a> </p>
</footer>