body {
    background-image: url(Social_Media.gif), url(image2.jpg);
    background-repeat: no-repeat, no-repeat;
    height: 300px, 500px;
    background-position: center;
    background-size:contain,cover;
    position: relative;
}

footer {
    position:bottom;
    height: 80px;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #black;
    line-height: 40px;
    font-size: 0.8em;
    text-align: center;
    bottom: 0;
}

p.disclaimer {
    position: absolute;
    width: 100%;
    color: #black;
    line-height: 40px;
    font-size: 0.8em;
    text-align: center;
    bottom:15;
}
