{% extends 'basic_app/base.html' %}
{% block body_block %}
<h1>About Page!!</h1>
<div class="jumbotron">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex lacus, pretium quis pellentesque vel, condimentum ac nisi. Morbi et nulla hendrerit, euismod elit ut, faucibus lorem. Fusce turpis nunc, suscipit ac accumsan vel, consequat vitae lectus. In hac habitasse platea dictumst. Quisque et elementum erat. Mauris aliquet lectus sodales sodales fermentum. Nullam id erat sed quam condimentum ultrices a et dui. Nunc cursus vestibulum augue quis euismod.

Quisque sed elit vestibulum, aliquam lacus id, eleifend massa. Aliquam porttitor purus lorem, et molestie neque semper non. Suspendisse ac purus ex. Maecenas luctus euismod mi ut finibus. Donec ac libero porta, pharetra ante quis, semper quam. Fusce lobortis dolor id mi hendrerit dictum. Maecenas volutpat finibus scelerisque.

Nam maximus felis placerat quam fermentum suscipit. Curabitur pretium congue faucibus. Aenean sed pharetra libero. Vestibulum faucibus elit laoreet justo malesuada blandit. Vestibulum eget massa viverra, interdum odio non, fermentum lacus. Nunc congue tristique quam, quis condimentum leo ullamcorper nec. Nunc laoreet ipsum a iaculis imperdiet. Vestibulum dignissim purus id finibus faucibus. Nunc egestas maximus dui, in ultricies sem sagittis sit amet. Mauris rhoncus mi elementum erat placerat efficitur. Vestibulum in fringilla nunc.

Nulla ipsum nisl, lacinia nec feugiat in, convallis in ante.Etiam malesuada pulvinar sem, in dictum elit porttitor fermentum.</p> 
  <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Social_media" role="button">To learn more about us click here..!</a></p>
</div>

{% endblock %}
